@charset "UTF-8";

/*
Theme Name: IN Junior
Theme URI: https://wordpress.org/themes/injunior/
Author: Tiago Matos
Author URI: https://wordpress.org/
Description: Tema feito para ensinar WP.
Version: 1
*/

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, footer {
  height: 70px;
  color: white;   
  background-color:#004daa;
}

main {
  background-color: #333;
}